* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 50px;
    background-color: rgb(134, 182, 255);
}

.nav--links {
    display: flex;
    width: 50%;
    /* background-color: rgb(245, 104, 104); */
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
}

li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 16px;
    width: 100px;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

li:hover {
    background-color: rgb(33, 93, 184);
}

.nav--links--box {
    /* background-color: rgb(80, 144, 240); */
    padding: 15px;
}

.nav--links--box:hover {
    background-color: rgb(33, 93, 184);
}

.sub--menu--1 {
    display: flex;
    flex-direction: column;
    display: none;
}

.nav--links--box:hover {
    background-color: rgb(33, 93, 184);
}


/* .menu--bar {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
} */

.menu--bar ul li:hover .sub--menu--1 {
    display: block;
    position: absolute;
    background-color: blue;
    margin-top: 40px;
    margin-left: 15px;
}